@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

.profileBorders{
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold;
  /*font-size: 20px;*/
  margin-bottom: 30px;
}
