<!--Header Image-->

<div id="index-banner" class="parallax-container z-depth-2">
  <div class="section no-pad-bot">
    <div class="container" id="headerTextPosition">
      <br><br>
      <!--<h1 class="header center amber-text text-accent-4">HeadLine</h1>-->
      <div class="row center">
        <!--<h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>-->
      </div>
      <!-- <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div> -->
      <br><br>
    </div>
  </div>
  <div class="parallax">
    <img  src="img/headerImg.jpg" alt="Unsplashed background img 1">
  </div>
</div>

<!--Main content(history, events)-->

<div class="container">

  <div class="section">
    <div class="row">

      <div class="col s12">


        <!--New 1-->
        <div class="row newsMargins">
          <div class="col s12 m6">
            <img class="responsive-img materialboxed" src="img/news/example.svg">
          </div>
          <div class="col s12 m6">
            <h3 class="center-align">HeadLine</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed vulputate dolor.
              Donec varius, magna a volutpat euismod, erat metus tincidunt leo, in auctor dui lacus
              nec ante. Praesent sit amet pulvinar leo. Duis nec mi at nulla luctus euismod. Nunc in
              euismod lectus, nec viverra odio. Praesent risus quam, facilisis vitae purus in, tincidunt
              laoreet nisi. Donec aliquet urna lacinia pharetra vehicula. Etiam eleifend varius vestibulum.
              Vestibulum vehicula maximus augue, sed fringilla arcu malesuada ac.
            </p>
            <div class="right-align">
              <a class="amber-text text-accent-3 linkSize moreMargins" href="more.html">Детальніше</a>
            </div>
          </div>
        </div>

        <hr>


        <!--New 2-->
        <div class="row newsMargins">
          <div class="col s12 m6">
            <h3 class="center-align">HeadLine</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed vulputate dolor.
              Donec varius, magna a volutpat euismod, erat metus tincidunt leo, in auctor dui lacus
              nec ante. Praesent sit amet pulvinar leo. Duis nec mi at nulla luctus euismod. Nunc in
              euismod lectus, nec viverra odio. Praesent risus quam, facilisis vitae purus in, tincidunt
              laoreet nisi. Donec aliquet urna lacinia pharetra vehicula. Etiam eleifend varius vestibulum.
              Vestibulum vehicula maximus augue, sed fringilla arcu malesuada ac.
            </p>
            <div class="right-align">
              <a class="amber-text text-accent-3 linkSize moreMargins" href="more.html">Детальніше</a>
            </div>
          </div>

          <div class="col s12 m6" style="margin-top: 20px;">
            <img class="responsive-img materialboxed" src="img/news/example.svg">
          </div>
        </div>

        <hr>


        <!-- New 3 -->
        <div class="row newsMargins">
          <div class="col s12 m6">
            <img class="responsive-img materialboxed" src="img/news/example.svg">
          </div>
          <div class="col s12 m6">
            <h3 class="center-align">HeadLine</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed vulputate dolor.
              Donec varius, magna a volutpat euismod, erat metus tincidunt leo, in auctor dui lacus
              nec ante. Praesent sit amet pulvinar leo. Duis nec mi at nulla luctus euismod. Nunc in
              euismod lectus, nec viverra odio. Praesent risus quam, facilisis vitae purus in, tincidunt
              laoreet nisi. Donec aliquet urna lacinia pharetra vehicula. Etiam eleifend varius vestibulum.
              Vestibulum vehicula maximus augue, sed fringilla arcu malesuada ac.
            </p>
            <div class="right-align">
              <a class="amber-text text-accent-3 linkSize moreMargins" href="more.html">Детальніше</a>
            </div>
          </div>
        </div>
      </div>

      <ul class="pagination center BottomString">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active blue-grey lighten-1"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>

    </div>
  </div>
</div>
