@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');


.section{
  background-color: #929294;
  height: 700px;
}

.danger{
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold;
  font-size: 19px;
  color: #b7000d;
}


.success{
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold;
  font-size: 19px;
  color: #17b72a;
}

.accessing{
  color: #5acc11 !important;
}

.messages{
  margin-left: 40px;
}

.error-messages-types{
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold;
  color: #561018;
}

.add-height {
  height: 480px;
}

.card-panel {
  margin: 10.5rem 0 1rem 0;
}

.input-field div.error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  font-family: 'Maven Pro', sans-serif;
  color:  #b71c1c;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.input-field label.active {
  width: 100%;
}

.left-alert input[type=text]+label:after, .left-alert input[type=password]+label:after, .left-alert input[type=email]+label:after, .left-alert input[type=url]+label:after, .left-alert input[type=time]+label:after, .left-alert input[type=date]+label:after, .left-alert input[type=datetime-local]+label:after, .left-alert input[type=tel]+label:after, .left-alert input[type=number]+label:after, .left-alert input[type=search]+label:after, .left-alert textarea.materialize-textarea+label:after {
  left: 0px;
}

.right-alert input[type=text]+label:after, .right-alert input[type=password]+label:after, .right-alert input[type=email]+label:after, .right-alert input[type=url]+label:after, .right-alert input[type=time]+label:after, .right-alert input[type=date]+label:after, .right-alert input[type=datetime-local]+label:after, .right-alert input[type=tel]+label:after, .right-alert input[type=number]+label:after, .right-alert input[type=search]+label:after, .right-alert textarea.materialize-textarea+label:after {
  right: 70px;
}

.add-height {
  height: 480px;
}

@media screen and (max-width: 1300px) {
  .add-height {
    height: 300px;
  }
}

.header2{
  font-family: 'Maven Pro', sans-serif;
  color: #f8ca00;
}

.input-field label {
  color: #646464;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #f8ca00;
  box-shadow: 0 1px 0 0 #f8ca00;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #f8ca00;
  box-shadow: 0 1px 0 0 #f8ca00;
}


.input-field input[type=text].valid {
  border-bottom: 1px solid #5acc11;
  box-shadow: 0 1px 0 0 #5acc11;
}

.input-field input[type=text].invalid {
  border-bottom: 1px solid #8f0002;
  box-shadow: 0 1px 0 0 #8f0002;
}

.input-field input[type=password].valid {
  border-bottom: 1px solid #5acc11;
  box-shadow: 0 1px 0 0 #5acc11;
}

.input-field input[type=password].invalid {
  border-bottom: 1px solid #8f0002;
  box-shadow: 0 1px 0 0 #8f0002;
}



#Enter{
  background-color: #f8ca00;
}
