<div class="container">
  <div class="section">
    <div class="row">
      <h1>Delete Release</h1>
      <div class="admin-area">
        <div *ngIf="message">
          <div [ngClass]="messageClass">
            {{message}}
          </div>
        </div>


          <div class="col s8 offset-s2" *ngIf="foundGw">
            <div class="card grey lighten-3">
              <div class="card-content blue-grey-text">
                <span class="card-title">Confirm your action</span>
                <p>Are you sure you would like to delete this post?</p>
              </div>
              <div class="card-action blue-grey-text text-darken-1">
                <button [disabled]="processing" type="button" name="button"  class="blue-grey-text text-darken-1 waves-effect waves-red btn-flat" (click)="deleteGw()">Yes</button>
                <a routerLink="/gw">
                  <button [disabled]="processing" type="button" name="button"  class="blue-grey-text text-darken-1 waves-effect waves-green btn-flat">No</button>
                </a>
              </div>
            </div>


            <div class="card grey lighten-3">
              <div class="card-content blue-grey-text">
                <span class="card-title">{{gw.title}}</span>
                <p class="truncate">{{gw.body}}</p>
                <strong>Posted by: </strong> {{gw.createBy}}
                <br>
                <strong>Date: </strong> {{gw.createdAt | date:'MMM dd, yyyy'}}
              </div>
            </div>

        </div>

      </div>
    </div>
  </div>
</div>
