<app-slider></app-slider>

<!--Main content(history, events)-->

<div class="distance">

  <div class="section">
    <div class="row">

      <div class="col s12 m8">

        <h3 class="brown-text text-darken-3 newsPosition ">Історія гімназії</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel est fringilla tortor sagittis
          commodo eget dignissim odio. Ut fringilla justo id est eleifend, eu scelerisque orci ornare. Mauris
          accumsan nisl sit amet diam convallis, non scelerisque enim imperdiet. Proin justo augue, auctor at
          tortor vitae, rutrum malesuada ex. Aliquam sapien leo, pulvinar in lacus in, maximus eleifend erat.
          Vivamus interdum non lorem eget malesuada. Nullam tincidunt, dolor et aliquet dapibus, mauris augue
          iaculis ante, id mollis nisi erat eu felis. Sed nec volutpat ante, in mollis arcu. Nam a lorem eget
          purus cursus gravida. In hac habitasse platea dictumst. Donec ut est interdum, sagittis urna ut,
          lacinia ex.
        </p>

        <p>
          Nulla commodo suscipit iaculis. Suspendisse neque augue, molestie non augue non, elementum blandit mi.
          Donec pulvinar ipsum vel ex aliquet consequat. Sed fermentum in urna sit amet ornare. Integer in odio a
          diam euismod consectetur. Maecenas condimentum felis lectus. Maecenas finibus condimentum urna eget gravida.
          Suspendisse vitae elit a risus condimentum tempus quis et purus. Integer tristique leo in risus mollis sodales.
        </p>

        <p>
          Aenean aliquet tortor tellus. Nunc et vehicula risus, in facilisis libero. Sed eu porttitor erat. Nulla viverra
          ultrices eros et scelerisque. Vestibulum pretium viverra ullamcorper. Sed at vestibulum erat. In eget enim et
          est efficitur tristique et vel erat. Aenean tempus dolor nec odio tincidunt sagittis. Vivamus malesuada arcu
          molestie nisi rhoncus blandit. Nullam eget vulputate nunc. In bibendum ex id erat ultrices, eget varius magna
          rutrum. Integer eleifend nunc eu est dapibus, a imperdiet arcu tempus. Mauris nulla lacus, dictum vel nunc
          aliquet, pulvinar ultrices velit. Donec sed felis vitae ante convallis dapibus. Duis non tempor augue. In hac
          habitasse platea dictumst.
        </p>

      </div>


      <div class="col s12 m4">

        <h4 class="header yellow-text text-darken-4">Події</h4>

        <form [formGroup]="form" name="EventForm" (submit)="onEventSubmit()" *ngIf="newPost">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">title</i>
              <input name="date" type="text" class="validate" autocomplete="off" formControlName="date" />
              <label for="date" [ngClass]="{'valid': form.controls.date.valid, 'invalid': form.controls.date.dirty && form.controls.date.errors}">Date</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">insert_link</i>
              <input name="event" type="text" class="validate" autocomplete="off" formControlName="event" />
              <label for="event" [ngClass]="{'valid': form.controls.event.valid, 'invalid': form.controls.event.dirty && form.controls.event.errors}">Event</label>
            </div>

            <div class="messages">
              <ul class="error-messages-types">
                <li *ngIf="form.controls.date.errors?.required && form.controls.date.dirty">*Date field is required</li>
                <li *ngIf="(form.controls.date.dirty && form.controls.date.errors?.minlength) || (form.controls.date.dirty && form.controls.date.errors?.maxlength)">*Max length: 50, Min length: 3</li>
                <li *ngIf="form.controls.event.errors?.required && form.controls.event.dirty">*Event field is required</li>
                <li *ngIf="(form.controls.event.dirty && form.controls.event.errors?.minlength) || (form.controls.event.dirty && form.controls.event.errors?.maxlength)">*Link may not exceed 100 charecters</li>
              </ul>
            </div>
            <div class="manage-btn right">
              <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="blue-grey lighten-1 waves-effect waves-light btn white-text ">Go Back</button>
              <button [disabled]="processing || !form.valid" type="submit" name="button" class=" blue-grey darken-4 waves-effect waves-light btn white-text ">Submit</button>
            </div>
          </div>
        </form>

        <div *ngIf="authService.loggedIn()" class="admin-area">
          <div *ngIf="message && newPost">
            <div [ngClass]="messageClass">
              {{message}}
            </div>
          </div>
          <button type="button" name="button" *ngIf="!newPost" (click)="newEventForm()" class="cyan darken-2 btn waves-effect waves-light space">New event
            <i class="material-icons right">create</i>
          </button>
          <button [disabled]="loadingEvents" type="button" name="button" *ngIf="!newPost" (click)="reloadEvents()" class="blue-grey lighten-1 btn waves-effect waves-light space">Reload
            <i class="material-icons right">autorenew</i>
          </button>

        </div>



        <!--Event 1-->
        <div class="card horizontal" *ngFor="let event of eventsPosts" >
          <div class="card-image">
            <!--<img src="http://lorempixel.com/100/190/nature/6">-->
          </div>
          <div class="card-stacked">
            <div class="card-content events">
              <p class="light-green-text">{{ event.date }}</p>
              <p class="light-green-text text-darken-4">{{ event.event }}</p>
            </div>

            <div class="card-action center admin-area" *ngIf="authService.loggedIn()">
              <a [routerLink]="['/edit-event/', event._id]">Update</a>
              <a [routerLink]="['/delete-event/', event._id]" class="red-text text-darken-3">Delete</a>
            </div>
          </div>

        </div>

        <!--Event 2-->
        <!--<div class="card horizontal">-->
          <!--<div class="card-image">-->
            <!--&lt;!&ndash;<img src="http://lorempixel.com/100/190/nature/6">&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="card-stacked">-->
            <!--<div class="card-content events">-->
              <!--<p class="light-green-text">18/09/2017</p>-->
              <!--<p class="light-green-text text-darken-4">Мілаково</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


      </div>


    </div>
  </div>
</div>
