<!--Footer-->
<footer id="contact" class="page-footer brown darken-4 scrollspy">
  <div class="distance">
    <div class="row">

      <!--Contacts form  -->
      <div class="col l3 s12">
        <img [src]="fullImagePath + '/logo.gif'">
        <p class="grey-text text-lighten-1">©2017 Львівська академічна гімназія</p>
      </div>

      <div class="col l3 s12">
        <h5 class="amber-text text-lighten-4">Контакти</h5>
        <ul>
          <li><a class="white-text" href="https://www.facebook.com/lag.lviv/?fref=ts"><img class="media" [src]="fullImagePath + '/facebook.svg'" width="30"><span class="media-txt">Facebook</span></a></li>
          <li><a class="white-text" href="#!"><img class="media" [src]="fullImagePath + '/telegram.svg'" width="30">Telegram</a></li>
          <li><a class="white-text" href="#!"><img class="media" [src]="fullImagePath + '/phone.svg'" width="30">+38 <b>(032)</b> 261-48-60 </a></li>
          <li><a class="white-text" href="#!"><img class="media" [src]="fullImagePath + '/mail.svg'" width="30">gimnazija_lag1@ukr.net</a></li>
        </ul>
      </div>

      <!--Feedback Form  -->
      <form class="col l6 s12">
        <div class="row">
          <h5 class="amber-text text-lighten-4">Зворотній зв'язок</h5>

          <div class="input-field col s6">
            <i class="material-icons prefix white-text">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Ім'я</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix white-text">mail</i>
            <input id="icon_telephone" type="email" class="validate">
            <label for="icon_telephone">E-mail</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix white-text">mode_edit</i>
            <textarea id="icon_prefix2" type="text" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Повідомлення</label>
          </div>
        </div>

        <div class="right-align">
          <button class="btn waves-effect waves-ligh amber lighten-4 brown-text text-darken-4" type="submit" name="action">Надіслати
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>

      <!--Language Icon  -->
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large grey languageSize">UA</a>
        <ul>
          <li><a class="btn-floating pulse red">EN</a></li>
          <li><a class="btn-floating pulse yellow darken-1">DE</a></li>
        </ul>
      </div>

    </div>
  </div>

  <!--Map Icon-->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <a class="btn btn-floating pulse lime darken-4" id="map"><i class="material-icons">room</i></a>
        </div>
      </div>
    </div>
  </div>

  <!--&lt;!&ndash; Scaled in &ndash;&gt;-->
  <!--<a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">-->
  <!--<i class="material-icons">add</i>-->
  <!--</a>-->

  <!--&lt;!&ndash; Scaled out &ndash;&gt;-->
  <!--<a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition scale-out">-->
  <!--<i class="material-icons">add</i>-->
  <!--</a>-->

</footer>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.402705303222!2d24.01010271570923!3d49.83489037939521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add797b42960f%3A0xa9fb78bfd9eb94d8!2z0JvRjNCy0L7QstGB0LrQsNGPINCw0LrQsNC00LXQvNC40YfQtdGB0LrQsNGPINCz0LjQvNC90LDQt9C40Y8!5e0!3m2!1sru!2sua!4v1497821716009" width="100%" height="450px"  frameborder="0" style="border:0" allowfullscreen></iframe>

